html(lang="en" ng-app="app")
	head
		title Poker
		link(href="styles/styles.css" rel="stylesheet" type="text/css")
		script(type="text/javascript", src="socket.io/socket.io.js")
		script(type="text/javascript", src="js/libs/angular.min.js")
		script(type="text/javascript", src="js/libs/angular-route.min.js")
		script(type="text/javascript", src="js/app.js")
		script(type="text/javascript", src="js/controllers/lobby.js")
		script(type="text/javascript", src="js/controllers/table.js")
	body
		#content(ng-view)
			