#lobby
	.modal-wrap(ng-show="!$root.screenName")
		.modal
			form(ng-submit="register()")
				label(for="screen-name-input") Enter your screen name
				p.table-requirements.error(ng-show="registerError") {{registerError}}
				input.input-left(type="text", ng-model="newScreenName", ng-trim="true", required)
				input#submit-name(type="submit", value="Submit")
		#curtain(ng-show="!$root.screenName")
	table#table-list
		tr
			th.dark-border Name
			th.dark-border BB/SB
			th Players
		tr(ng-repeat="table in lobbyTables")
			td 
				a(href="/table-{{table.seatsCount}}/{{table.id}}") {{table.name}}
			td.centered-text {{table.bigBlind}}/{{table.smallBlind}}
			td.centered-text {{table.playersSeatedCount}}/{{table.seatsCount}}
p#developer-info 
	| Developed by George Balasis. View the code on 
	a(href="https://github.com/geobalas/Poker", target="-blank") github
	|.
