#table_wrap
	#modal_wrap(ng-show="show_buy_in_modal")
		#modal
			form(ng-submit="sit_on_the_table(seat)")
				h1 {{table.name}}
				p.table_requirements Max buy-in {{table.max_buy_in}}
				p.table_requirements Min buy-in {{table.min_buy_in}}
				p.table_requirements You have a total of {{$root.total_chips}} chips
				p.table_requirements.error(ng-show="buy_in_error") {{buy_in_error}}
				input.input_left(type="number", ng-model="buy_in_amount", ng-trim="true" required)
				input(type="submit", value="Sit in")
		#curtain(ng-show="show_buy_in_modal" ng-click="show_buy_in_modal=false;")
	.table
		.felt
	.row
		.cell
			a#to_lobby.button(href="/", ng-show="!$root.sitting_on_table", ng-click="leave_room()") < Lobby
		.cell
			.player_wrap
				.player_cards(ng-class="{dealt: table.seats[0].has_cards}")
					div.card(ng-show="seat_occupied(0)" ng-class="get_card_class( 0, 0 )")
					div.card(ng-show="seat_occupied(0)" ng-class="get_card_class( 0, 1 )")
				.seat(ng-show="seat_occupied(0)", ng-class="{active: table.active_seat===0}")
					a.sit_in(ng-show="!table.seats[0].name", ng-click="show_buy_in_modal=true; seat=0;") Sit In
					.player_content(ng-show="table.seats[0].name")
						p {{table.seats[0].name}}
						p(ng-show="table.seats[0].sitting_in") {{table.seats[0].chips_in_play}}
						p(ng-show="!table.seats[0].sitting_in") Sitting Out
				#dealer_wrap_1.dealer_button(ng-show="table.dealer_seat==0") D
				#bets_1.bets
					span(ng-show="table.seats[0].bet") {{table.seats[0].bet}}
		.cell
			.player_wrap
				.player_cards(ng-class="{dealt: table.seats[1].has_cards}")
					div.card(ng-show="seat_occupied(1)" ng-class="get_card_class( 1, 0 )")
					div.card(ng-show="seat_occupied(1)" ng-class="get_card_class( 1, 1 )")
				.seat(ng-show="seat_occupied(1)", ng-class="{active: table.active_seat===1}")
					a.sit_in(ng-show="!table.seats[1].name", ng-click="show_buy_in_modal=true; seat=1;") Sit In
					.player_content(ng-show="table.seats[1].name")
						p {{table.seats[1].name}}
						p(ng-show="table.seats[1].sitting_in") {{table.seats[1].chips_in_play}}
						p(ng-show="!table.seats[1].sitting_in") Sitting Out
				#dealer_wrap_2.dealer_button(ng-show="table.dealer_seat==1") D
				#bets_2.bets
					span(ng-show="table.seats[1].bet") {{table.seats[1].bet}}
		.cell
	.row
		.cell
			.player_wrap.side
				.player_cards(ng-class="{dealt: table.seats[5].has_cards}")
					div.card(ng-show="seat_occupied(5)" ng-class="get_card_class( 5, 0 )")
					div.card(ng-show="seat_occupied(5)" ng-class="get_card_class( 5, 1 )")
				.seat(ng-show="seat_occupied(5)", ng-class="{active: table.active_seat===5}")
					a.sit_in(ng-show="!table.seats[5].name", ng-click="show_buy_in_modal=true; seat=5;") Sit In
					.player_content(ng-show="table.seats[5].name")
						p {{table.seats[5].name}}
						p(ng-show="table.seats[5].sitting_in") {{table.seats[5].chips_in_play}}
						p(ng-show="!table.seats[5].sitting_in") Sitting Out
				#dealer_wrap_9.dealer_button(ng-show="table.dealer_seat==5") D
				#bets_9.bets
					span(ng-show="table.seats[5].bet") {{table.seats[5].bet}}
		.double_cell
			#pot_wrap
				span#pot(ng-show="table.pot[0].amount") {{pot_text()}}
			#board_wrap
				.card_container
					.card(class="card-{{table.board[0]}}" ng-show="table.board[0]")
				.card_container
					.card(class="card-{{table.board[1]}}" ng-show="table.board[1]")
				.card_container
					.card(class="card-{{table.board[2]}}" ng-show="table.board[2]")
				.card_container
					.card(class="card-{{table.board[3]}}" ng-show="table.board[3]")
				.card_container
					.card(class="card-{{table.board[4]}}" ng-show="table.board[4]")
		.cell
			.player_wrap.side
				.player_cards(ng-class="{dealt: table.seats[2].has_cards}")
					div.card(ng-show="seat_occupied(2)" ng-class="get_card_class( 2, 0 )")
					div.card(ng-show="seat_occupied(2)" ng-class="get_card_class( 2, 1 )")
				.seat(ng-show="seat_occupied(2)", ng-class="{active: table.active_seat===2}")
					a.sit_in(ng-show="!table.seats[2].name", ng-click="show_buy_in_modal=true; seat=2;") Sit In
					.player_content(ng-show="table.seats[2].name")
						p {{table.seats[2].name}}
						p(ng-show="table.seats[2].sitting_in") {{table.seats[2].chips_in_play}}
						p(ng-show="!table.seats[2].sitting_in") Sitting Out
				#dealer_wrap_4.dealer_button(ng-show="table.dealer_seat==2") D
				#bets_4.bets
					span(ng-show="table.seats[2].bet") {{table.seats[2].bet}}
	.row
		.cell
		.cell
			.player_wrap
				.player_cards(ng-class="{dealt: table.seats[4].has_cards}")
					div.card(ng-show="seat_occupied(4)" ng-class="get_card_class( 4, 0 )")
					div.card(ng-show="seat_occupied(4)" ng-class="get_card_class( 4, 1 )")
				.seat(ng-show="seat_occupied(4)", ng-class="{active: table.active_seat===4}")
					a.sit_in(ng-show="!table.seats[4].name", ng-click="show_buy_in_modal=true; seat=4;") Sit In
					.player_content(ng-show="table.seats[4].name")
						p {{table.seats[4].name}}
						p(ng-show="table.seats[4].sitting_in") {{table.seats[4].chips_in_play}}
						p(ng-show="!table.seats[4].sitting_in") Sitting Out
				#dealer_wrap_7.dealer_button(ng-show="table.dealer_seat==4") D
				#bets_7.bets
					span(ng-show="table.seats[4].bet") {{table.seats[4].bet}}
		.cell
			.player_wrap
				.player_cards(ng-class="{dealt: table.seats[3].has_cards}")
					div.card(ng-show="seat_occupied(3)" ng-class="get_card_class( 3, 0 )")
					div.card(ng-show="seat_occupied(3)" ng-class="get_card_class( 3, 1 )")
				.seat(ng-show="seat_occupied(3)", ng-class="{active: table.active_seat===3}")
					a.sit_in(ng-show="!table.seats[3].name", ng-click="show_buy_in_modal=true; seat=3;") Sit In
					.player_content(ng-show="table.seats[3].name")
						p {{table.seats[3].name}}
						p(ng-show="table.seats[3].sitting_in") {{table.seats[3].chips_in_play}}
						p(ng-show="!table.seats[3].sitting_in") Sitting Out
				#dealer_wrap_6.dealer_button(ng-show="table.dealer_seat==3") D
				#bets_6.bets
					span(ng-show="table.seats[3].bet") {{table.seats[3].bet}}
		.cell
	.row.controls
		.chat_cell
			#chat(ng-controller="ChatController")
				#messages
				form(ng-submit="send_message()")
					input(type="text", ng-model="message_text")
					input(type="submit", value="↵")
		.cell
			button(class="control_button", ng-click="fold()", ng-show='show_fold_button()') Fold
			button(class="control_button", ng-click="post_blind(false)", ng-show='action_state === "post_small_blind" || action_state === "post_big_blind"') Sit Out
			button(class="control_button", ng-click="leave_table()", ng-show='show_leave_table_button()') Leave Table
		.cell
			button(class="control_button", ng-click="sit_in()", ng-show='$root.sitting_on_table !== null && !$root.sitting_in') Sit In
			button(class="control_button", ng-click="post_blind(true)", ng-show='action_state === "post_small_blind"') Small Blind ({{table.small_blind}})
			button(class="control_button", ng-click="post_blind(true)", ng-show='action_state === "post_big_blind"') Big Blind ({{table.big_blind}})
			button(class="control_button", ng-click="check()", ng-show='show_check_button()') Check
			button(class="control_button", ng-click="call()", ng-show='show_call_button()') Call {{call_amount()}}
		.cell
			button(class="control_button", ng-click="bet()", ng-show='show_bet_button()') Bet {{bet_amount}}
			button(class="control_button", ng-click="raise()", ng-show='show_raise_button()') Raise to {{bet_amount}}
		.double_cell
			.cell_content
				input(type="range", ng-show='show_bet_range()', min="{{min_bet_amount()}}", max="{{max_bet_amount()}}", ng-model="bet_amount")
				input(type="number", id="bet_input", ng-show='show_bet_input()', min="{{min_bet_amount()}}", max="{{max_bet_amount()}}", ng-model="bet_amount", value="{{bet_amount}}")
	#audio
		audio(id="fold_sound" src="/audio/fold.wav" preload="auto")
		audio(id="check_sound" src="/audio/check.wav" preload="auto")
		audio(id="call_sound" src="/audio/call.wav" preload="auto")
		audio(id="bet_sound" src="/audio/bet.wav" preload="auto")
		audio(id="raise_sound" src="/audio/raise.wav" preload="auto")