#table_wrap
	#modal_wrap(ng-show="show_buy_in_modal")
		#modal
			form
				h1 {{table.name}}
				p Max buy-in {{table.max_buy_in}}
				p Min buy-in {{table.min_buy_in}}
				p You have a total of {{$root.total_chips}} chips
				p.error(ng-show="buy_in_error") {{buy_in_error}}
				input.input_left(type="number", ng-model="buy_in_amount", ng-trim="true")
				input(type="submit", ng-click="sit_on_the_table(seat)", value="Sit in")
		#curtain(ng-show="show_buy_in_modal" ng-click="show_buy_in_modal=false;")
	.table
	.row
		.cell
			a#to_lobby.button(href="/", ng-show="!$root.sitting_on_table", ng-click="leave_room()") < Lobby
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[0].name", ng-class="{active: table.active_seat===0}")
				.player_cards
					div.card(ng-show="table.seats[0].has_cards" ng-class="{ false: 'card-back', true: my_cards[0] } [my_seat === 0]")
					div.card(ng-show="table.seats[0].has_cards" ng-class="{ false: 'card-back', true: my_cards[1] } [my_seat === 0]")
				a.sit_in(ng-show="!table.seats[0].name", ng-click="show_buy_in_modal=true; seat=0;") Sit In
				.player_content(ng-show="table.seats[0].name")
					p {{table.seats[0].name}}
					p(ng-show="table.seats[0].sitting_in") {{table.seats[0].chips_in_play}}
					p(ng-show="!table.seats[0].sitting_in") Sitting Out
			#dealer_wrap_1.dealer_wrap
				.dealer_button(ng-show="table.dealer_seat==0") D
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[1].name", ng-class="{active: table.active_seat===1}")
				.player_cards
					div.card(ng-show="table.seats[1].has_cards" ng-class="{ false: 'card-back', true: my_cards[0] } [my_seat === 1]")
					div.card(ng-show="table.seats[1].has_cards" ng-class="{ false: 'card-back', true: my_cards[1] } [my_seat === 1]")
				a.sit_in(ng-show="!table.seats[1].name", ng-click="show_buy_in_modal=true; seat=1;") Sit In
				.player_content(ng-show="table.seats[1].name")
					p {{table.seats[1].name}}
					p(ng-show="table.seats[1].sitting_in") {{table.seats[1].chips_in_play}}
					p(ng-show="!table.seats[1].sitting_in") Sitting Out
			#dealer_wrap_2.dealer_wrap
				.dealer_button(ng-show="table.dealer_seat==1") D
		.cell
	.row
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[5].name", ng-class="{active: table.active_seat===5}")
				.player_cards
					div.card(ng-show="table.seats[5].has_cards" ng-class="{ false: 'card-back', true: my_cards[0] } [my_seat === 5]")
					div.card(ng-show="table.seats[5].has_cards" ng-class="{ false: 'card-back', true: my_cards[1] } [my_seat === 5]")
				a.sit_in(ng-show="!table.seats[5].name", ng-click="show_buy_in_modal=true; seat=5;") Sit In
				.player_content(ng-show="table.seats[5].name")
					p {{table.seats[5].name}}
					p(ng-show="table.seats[5].sitting_in") {{table.seats[5].chips_in_play}}
					p(ng-show="!table.seats[5].sitting_in") Sitting Out
			#dealer_wrap_9.dealer_wrap
				.dealer_button(ng-show="table.dealer_seat==5") D
		.double_cell
			.board_wrap
				.card(class="card-{{table.board[0]}}" ng-show="table.board[0]")
				.card(class="card-{{table.board[1]}}" ng-show="table.board[1]")
				.card(class="card-{{table.board[2]}}" ng-show="table.board[2]")
				.card(class="card-{{table.board[3]}}" ng-show="table.board[3]")
				.card(class="card-{{table.board[4]}}" ng-show="table.board[4]")
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[2].name", ng-class="{active: table.active_seat===2}")
				.player_cards
					div.card(ng-show="table.seats[2].has_cards" ng-class="{ false: 'card-back', true: my_cards[0] } [my_seat === 2]")
					div.card(ng-show="table.seats[2].has_cards" ng-class="{ false: 'card-back', true: my_cards[1] } [my_seat === 2]")
				a.sit_in(ng-show="!table.seats[2].name", ng-click="show_buy_in_modal=true; seat=2;") Sit In
				.player_content(ng-show="table.seats[2].name")
					p {{table.seats[2].name}}
					p(ng-show="table.seats[2].sitting_in") {{table.seats[2].chips_in_play}}
					p(ng-show="!table.seats[2].sitting_in") Sitting Out
			#dealer_wrap_4.dealer_wrap
				.dealer_button(ng-show="table.dealer_seat==2") D
	.row
		.cell
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[4].name", ng-class="{active: table.active_seat===4}")
				.player_cards
					div.card(ng-show="table.seats[4].has_cards" ng-class="{ false: 'card-back', true: my_cards[0] } [my_seat === 4]")
					div.card(ng-show="table.seats[4].has_cards" ng-class="{ false: 'card-back', true: my_cards[1] } [my_seat === 4]")
				a.sit_in(ng-show="!table.seats[4].name", ng-click="show_buy_in_modal=true; seat=4;") Sit In
				.player_content(ng-show="table.seats[4].name")
					p {{table.seats[4].name}}
					p(ng-show="table.seats[4].sitting_in") {{table.seats[4].chips_in_play}}
					p(ng-show="!table.seats[4].sitting_in") Sitting Out
			#dealer_wrap_7.dealer_wrap
				.dealer_button(ng-show="table.dealer_seat==4") D
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[3].name", ng-class="{active: table.active_seat===3}")
				.player_cards
					div.card(ng-show="table.seats[3].has_cards" ng-class="{ false: 'card-back', true: my_cards[0] } [my_seat === 3]")
					div.card(ng-show="table.seats[3].has_cards" ng-class="{ false: 'card-back', true: my_cards[1] } [my_seat === 3]")
				a.sit_in(ng-show="!table.seats[3].name", ng-click="show_buy_in_modal=true; seat=3;") Sit In
				.player_content(ng-show="table.seats[3].name")
					p {{table.seats[3].name}}
					p(ng-show="table.seats[3].sitting_in") {{table.seats[3].chips_in_play}}
					p(ng-show="!table.seats[3].sitting_in") Sitting Out
			#dealer_wrap_6.dealer_wrap
				.dealer_button(ng-show="table.dealer_seat==3") D
		.cell
	.row.controls
		.double_cell
			#chat
				#messages
				form(ng-submit="send_message()")
					input(type="text", ng-model="message_text")
					input(type="submit", value="Send")
		.cell
			button(class="control_button", ng-click="fold()", ng-show='action_state === "act_not_betted_pot" || action_state === "act_betted_pot"') Fold
			button(class="control_button", ng-click="post_blind(false)", ng-show='action_state === "post_small_blind" || action_state === "post_big_blind"') Sit Out
			button(class="control_button", ng-click="leave_table()", ng-show='$root.sitting_on_table !== null && (!$root.sitting_in || action_state === "waiting")') Leave Table
		.cell
			button(class="control_button", ng-click="sit_in()", ng-show='$root.sitting_on_table !== null && !$root.sitting_in') Sit In
			button(class="control_button", ng-click="post_blind(true)", ng-show='action_state === "post_small_blind"') Small Blind ({{table.small_blind}})
			button(class="control_button", ng-click="post_blind(true)", ng-show='action_state === "post_big_blind"') Big Blind ({{table.big_blind}})
			button(class="control_button", ng-click="check()", ng-show='action_state === "act_not_betted_pot"') Check
			button(class="control_button", ng-click="call()", ng-show='action_state === "act_betted_pot"') Call
		.cell
			button(class="control_button", ng-click="bet()", ng-show='action_state === "act_not_betted_pot"') Bet
			button(class="control_button", ng-click="raise()", ng-show='action_state === "act_betted_pot"') Raise