#table_wrap
	#modal_wrap(ng-show="show_buy_in_modal")
		#modal
			form(ng-submit="sit_on_the_table(seat)")
				h1 {{table.name}}
				p Max buy-in {{table.max_buy_in}}
				p Min buy-in {{table.min_buy_in}}
				p You have a total of {{$root.total_chips}} chips
				p.error(ng-show="buy_in_error") {{buy_in_error}}
				input.input_left(type="number", ng-model="buy_in_amount", ng-trim="true" required)
				input(type="submit", value="Sit in")
		#curtain(ng-show="show_buy_in_modal" ng-click="show_buy_in_modal=false;")
	.table
		.felt
	.row
		.cell
			a#to_lobby.button(href="/", ng-show="!$root.sitting_on_table", ng-click="leave_room()") < Lobby
			.player_wrap.top.left(ng-show="!$root.sitting_on_table || table.seats[0].name", ng-class="{active: table.active_seat===0}")
				.player_cards
					div.card(ng-show="table.seats[0].has_cards" ng-class="get_card_class( 0, 0 )")
					div.card(ng-show="table.seats[0].has_cards" ng-class="get_card_class( 0, 1 )")
				a.sit_in(ng-show="!table.seats[0].name", ng-click="show_buy_in_modal=true; seat=0;") Sit In
				.player_content(ng-show="table.seats[0].name")
					p {{table.seats[0].name}}
					p(ng-show="table.seats[0].sitting_in") {{table.seats[0].chips_in_play}}
					p(ng-show="!table.seats[0].sitting_in") Sitting Out
			#dealer_wrap_0.dealer_button(ng-show="table.dealer_seat===0") D
			#bets_0.bets
				span(ng-show="table.seats[0].bet") {{table.seats[0].bet}}
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[1].name", ng-class="{active: table.active_seat===1}")
				.player_cards
					div.card(ng-show="table.seats[1].has_cards" ng-class="get_card_class( 1, 0 )")
					div.card(ng-show="table.seats[1].has_cards" ng-class="get_card_class( 1, 1 )")
				a.sit_in(ng-show="!table.seats[1].name", ng-click="show_buy_in_modal=true; seat=1;") Sit In
				.player_content(ng-show="table.seats[1].name")
					p {{table.seats[1].name}}
					p(ng-show="table.seats[1].sitting_in") {{table.seats[1].chips_in_play}}
					p(ng-show="!table.seats[1].sitting_in") Sitting Out
			#dealer_wrap_1.dealer_button(ng-show="table.dealer_seat==1") D
			#bets_1.bets
				span(ng-show="table.seats[1].bet") {{table.seats[1].bet}}
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[2].name", ng-class="{active: table.active_seat===2}")
				.player_cards
					div.card(ng-show="table.seats[2].has_cards" ng-class="get_card_class( 2, 0 )")
					div.card(ng-show="table.seats[2].has_cards" ng-class="get_card_class( 2, 1 )")
				a.sit_in(ng-show="!table.seats[2].name", ng-click="show_buy_in_modal=true; seat=2;") Sit In
				.player_content(ng-show="table.seats[2].name")
					p {{table.seats[2].name}}
					p(ng-show="table.seats[2].sitting_in") {{table.seats[2].chips_in_play}}
					p(ng-show="!table.seats[2].sitting_in") Sitting Out
			#dealer_wrap_2.dealer_button(ng-show="table.dealer_seat==2") D
			#bets_2.bets
				span(ng-show="table.seats[2].bet") {{table.seats[2].bet}}
		.cell
			.player_wrap.top.right(ng-show="!$root.sitting_on_table || table.seats[3].name", ng-class="{active: table.active_seat===3}")
				.player_cards
					div.card(ng-show="table.seats[3].has_cards" ng-class="get_card_class( 3, 0 )")
					div.card(ng-show="table.seats[3].has_cards" ng-class="get_card_class( 3, 1 )")
				a.sit_in(ng-show="!table.seats[3].name", ng-click="show_buy_in_modal=true; seat=3;") Sit In
				.player_content(ng-show="table.seats[3].name")
					p {{table.seats[3].name}}
					p(ng-show="table.seats[3].sitting_in") {{table.seats[3].chips_in_play}}
					p(ng-show="!table.seats[3].sitting_in") Sitting Out
			#dealer_wrap_3.dealer_button(ng-show="table.dealer_seat==3") D
			#bets_3.bets
				span(ng-show="table.seats[3].bet") {{table.seats[3].bet}}
	.row
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[9].name", ng-class="{active: table.active_seat===9}")
				.player_cards
					div.card(ng-show="table.seats[9].has_cards" ng-class="get_card_class( 9, 0 )")
					div.card(ng-show="table.seats[9].has_cards" ng-class="get_card_class( 9, 1 )")
				a.sit_in(ng-show="!table.seats[9].name", ng-click="show_buy_in_modal=true; seat=9;") Sit In
				.player_content(ng-show="table.seats[9].name")
					p {{table.seats[9].name}}
					p(ng-show="table.seats[9].sitting_in") {{table.seats[9].chips_in_play}}
					p(ng-show="!table.seats[9].sitting_in") Sitting Out
			#dealer_wrap_9.dealer_button(ng-show="table.dealer_seat==9") D
			#bets_9.bets
				span(ng-show="table.seats[9].bet") {{table.seats[9].bet}}
		.double_cell
			span#pot(ng-show="table.pot") Pot: {{table.pot}}
			.board_wrap
				.card(class="card-{{table.board[0]}}" ng-show="table.board[0]")
				.card(class="card-{{table.board[1]}}" ng-show="table.board[1]")
				.card(class="card-{{table.board[2]}}" ng-show="table.board[2]")
				.card(class="card-{{table.board[3]}}" ng-show="table.board[3]")
				.card(class="card-{{table.board[4]}}" ng-show="table.board[4]")
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[4].name", ng-class="{active: table.active_seat===4}")
				.player_cards
					div.card(ng-show="table.seats[4].has_cards" ng-class="get_card_class( 4, 0 )")
					div.card(ng-show="table.seats[4].has_cards" ng-class="get_card_class( 4, 1 )")
				a.sit_in(ng-show="!table.seats[4].name", ng-click="show_buy_in_modal=true; seat=4;") Sit In
				.player_content(ng-show="table.seats[4].name")
					p {{table.seats[4].name}}
					p(ng-show="table.seats[4].sitting_in") {{table.seats[4].chips_in_play}}
					p(ng-show="!table.seats[4].sitting_in") Sitting Out
			#dealer_wrap_4.dealer_button(ng-show="table.dealer_seat==4") D
			#bets_4.bets
				span(ng-show="table.seats[4].bet") {{table.seats[4].bet}}
	.row
		.cell
			.player_wrap.bottom.left(ng-show="!$root.sitting_on_table || table.seats[8].name", ng-class="{active: table.active_seat===8}")
				.player_cards
					div.card(ng-show="table.seats[8].has_cards" ng-class="get_card_class( 8, 0 )")
					div.card(ng-show="table.seats[8].has_cards" ng-class="get_card_class( 8, 1 )")
				a.sit_in(ng-show="!table.seats[8].name", ng-click="show_buy_in_modal=true; seat=8;") Sit In
				.player_content(ng-show="table.seats[8].name")
					p {{table.seats[8].name}}
					p(ng-show="table.seats[8].sitting_in") {{table.seats[8].chips_in_play}}
					p(ng-show="!table.seats[8].sitting_in") Sitting Out
			#dealer_wrap_8.dealer_button(ng-show="table.dealer_seat==8") D
			#bets_8.bets
				span(ng-show="table.seats[8].bet") {{table.seats[8].bet}}
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[7].name", ng-class="{active: table.active_seat===7}")
				.player_cards
					div.card(ng-show="table.seats[7].has_cards" ng-class="get_card_class( 7, 0 )")
					div.card(ng-show="table.seats[7].has_cards" ng-class="get_card_class( 7, 1 )")
				a.sit_in(ng-show="!table.seats[7].name", ng-click="show_buy_in_modal=true; seat=7;") Sit In
				.player_content(ng-show="table.seats[7].name")
					p {{table.seats[7].name}}
					p(ng-show="table.seats[7].sitting_in") {{table.seats[7].chips_in_play}}
					p(ng-show="!table.seats[7].sitting_in") Sitting Out
			#dealer_wrap_7.dealer_button(ng-show="table.dealer_seat==7") D
			#bets_7.bets
				span(ng-show="table.seats[7].bet") {{table.seats[7].bet}}
		.cell
			.player_wrap(ng-show="!$root.sitting_on_table || table.seats[6].name", ng-class="{active: table.active_seat===6}")
				.player_cards
					div.card(ng-show="table.seats[6].has_cards" ng-class="get_card_class( 6, 0 )")
					div.card(ng-show="table.seats[6].has_cards" ng-class="get_card_class( 6, 1 )")
				a.sit_in(ng-show="!table.seats[6].name", ng-click="show_buy_in_modal=true; seat=6;") Sit In
				.player_content(ng-show="table.seats[6].name")
					p {{table.seats[6].name}}
					p(ng-show="table.seats[6].sitting_in") {{table.seats[6].chips_in_play}}
					p(ng-show="!table.seats[6].sitting_in") Sitting Out
			#dealer_wrap_6.dealer_button(ng-show="table.dealer_seat==6") D
			#bets_6.bets
				span(ng-show="table.seats[6].bet") {{table.seats[6].bet}}
		.cell
			.player_wrap.bottom.right(ng-show="!$root.sitting_on_table || table.seats[5].name", ng-class="{active: table.active_seat==5}")
				.player_cards
					div.card(ng-show="table.seats[5].has_cards" ng-class="get_card_class( 5, 0 )")
					div.card(ng-show="table.seats[5].has_cards" ng-class="get_card_class( 5, 1 )")
				a.sit_in(ng-show="!table.seats[5].name", ng-click="show_buy_in_modal=true; seat=5;") Sit In
				.player_content(ng-show="table.seats[5].name")
					p {{table.seats[5].name}}
					p(ng-show="table.seats[5].sitting_in") {{table.seats[5].chips_in_play}}
					p(ng-show="!table.seats[5].sitting_in") Sitting Out
			#dealer_wrap_5.dealer_button(ng-show="table.dealer_seat==5") D
			#bets_5.bets
				span(ng-show="table.seats[5].bet") {{table.seats[5].bet}}
	.row.controls
		.chat_cell
			#chat
				#messages
				form(ng-submit="send_message()")
					input(type="text", ng-model="message_text")
					input(type="submit", value="↵")
		.cell
			button(class="control_button", ng-click="fold()", ng-show='action_state === "act_not_betted_pot" || action_state === "act_betted_pot"') Fold
			button(class="control_button", ng-click="post_blind(false)", ng-show='action_state === "post_small_blind" || action_state === "post_big_blind"') Sit Out
			button(class="control_button", ng-click="leave_table()", ng-show='$root.sitting_on_table !== null && (!$root.sitting_in || action_state === "waiting")') Leave Table
		.cell
			button(class="control_button", ng-click="sit_in()", ng-show='$root.sitting_on_table !== null && !$root.sitting_in') Sit In
			button(class="control_button", ng-click="post_blind(true)", ng-show='action_state === "post_small_blind"') Small Blind ({{table.small_blind}})
			button(class="control_button", ng-click="post_blind(true)", ng-show='action_state === "post_big_blind"') Big Blind ({{table.big_blind}})
			button(class="control_button", ng-click="check()", ng-show='action_state === "act_not_betted_pot" || (action_state === "act_betted_pot" && table.biggest_bet == table.seats[my_seat].bet)') Check
			button(class="control_button", ng-click="call()", ng-show='action_state === "act_betted_pot"  && !(action_state === "act_betted_pot" && table.biggest_bet == table.seats[my_seat].bet)') Call {{table.biggest_bet - table.seats[my_seat].bet}}
		.cell
			button(class="control_button", ng-click="bet()", ng-show='action_state === "act_not_betted_pot"') Bet {{bet_amount}}
			button(class="control_button", ng-click="raise()", ng-show='action_state === "act_betted_pot"') Raise {{bet_amount}}
		.double_cell
			input(type="range", ng-show='action_state === "act_not_betted_pot" || action_state === "act_betted_pot"', min="{{table.big_blind}}", max="{{chips_in_play}}", ng-model="bet_amount")
			input(type="number", ng-show='action_state === "act_not_betted_pot" || action_state === "act_betted_pot"', min="{{table.big_blind}}", max="{{chips_in_play}}", ng-model="bet_amount")