body {
  margin: 0;
  background: #2E1F3E;
  font-family: Arial;
  color: #9880e9;
  font-size: 1em;
}
input[type="text"],
input[type="number"] {
  padding: 8px;
  width: 228px;
  border: 1px solid #9880e9;
  border-radius: 5px;
  color: #9880e9;
  font-size: 1.4em;
}
input[type="range"] {
  width: 100%;
  margin-top: 30px;
}
#bet_input {
  width: 100%;
  margin-top: 20px;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
button,
input[type="submit"],
.button {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #9880e9;
  border-radius: 5px;
  color: #9880e9;
  font-size: 2em;
  font-weight: lighter;
}
button.small,
input[type="submit"].small,
.button.small {
  font-size: 1em;
}
button.control_button,
input[type="submit"].control_button,
.button.control_button {
  padding: 0;
  height: 65%;
  width: 85%;
  background-color: rgba(46, 31, 62, 0.9);
  border: 3px solid #9880e9;
  border-radius: 10px;
  cursor: pointer;
}
button.control_button.small,
input[type="submit"].control_button.small,
.button.control_button.small {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
a {
  text-decoration: none;
  font-family: Arial;
  color: #9880e9;
  font-size: 1em;
}
.hidden {
  display: none;
}
.error {
  color: #D64937;
}
#content {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
}
table,
tr,
th,
td {
  border: 1px solid #9880e9;
  color: #9880e9;
  border-collapse: collapse;
  padding: 8px;
}
table {
  width: 100%;
}
#table_wrap {
  position: relative;
}
.table {
  background-color: #724f39;
  border-radius: 200px;
  height: 400px;
  left: 11%;
  position: absolute;
  top: 11%;
  width: 800px;
  z-index: 0;
  box-shadow: 0 0 25px 0 #160726;
}
.table .felt {
  background-color: #387c41;
  border-radius: 175px;
  width: 750px;
  height: 350px;
  position: relative;
  top: 25px;
  left: 25px;
  box-shadow: 0 0 20px 0 #17541D inset;
}
div.row {
  height: 25%;
  width: 100%;
  position: relative;
  z-index: 1;
}
div.row.controls {
  background-color: #387c41;
  border-radius: 8px;
}
div.cell {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
div.cell button {
  margin: 22.5% 15%;
}
div.double_cell {
  float: left;
  width: 50%;
  height: 100%;
}
div.controls div.cell {
  width: 15%;
}
div.controls div.double_cell {
  width: 30%;
}
div.controls div.double_cell .cell_content {
  padding: 20px;
}
div.controls div.chat_cell {
  float: left;
  width: 25%;
}
input[type="range"] {
  width: 90%;
}
.sit_in {
  padding: 20px 52px;
  cursor: pointer;
}
div#chat div#messages {
  border: 1px solid;
  border-radius: 8px;
  height: 63%;
  margin: 8px 8px 0 8px;
  background-color: #fff;
  padding: 8px;
  overflow: auto;
}
div#chat div#messages p {
  margin: 0;
  word-wrap: break-word;
}
div#chat div#messages p.log_message {
  color: #A69029;
}
div#chat input[type="submit"] {
  font-size: 1.3em;
  padding: 5px 8px;
  margin: 1px 0 0 2px;
  background-color: rgba(46, 31, 62, 0.9);
  border-radius: 8px;
}
div#chat input[type="text"] {
  width: 197px;
  font-size: 1em;
  margin-left: 8px;
  padding: 9px;
  transform: translate(0px, -2px);
  border-radius: 8px;
}
div.player_wrap {
  width: 160px;
  margin: 60px auto;
  position: relative;
}
div.player_wrap.top {
  margin-top: 100px;
}
div.player_wrap.bottom {
  margin-top: 20px;
}
div.player_wrap.left {
  margin-left: 80px;
}
div.player_wrap.right {
  margin-left: 20px;
}
div.player_wrap .player_cards {
  overflow: hidden;
  height: 60px;
  left: 30px;
  position: absolute;
  top: 0px;
  width: 100px;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
div.player_wrap .player_cards.dealt {
  top: -60px;
}
div.player_wrap .player_cards .card:first-child {
  left: 0;
}
div.player_wrap .player_cards .card {
  left: 28px;
  position: absolute;
}
div.seat {
  padding: 16px 0;
  background-color: #2e1f3e;
  border: 3px solid #9880e9;
  border-radius: 5px;
  color: #9880e9;
  font-size: 1.4em;
  font-weight: lighter;
  text-align: center;
  width: 154px;
  position: relative;
  box-shadow: 0 0 5px 0 #160726;
  -webkit-transition: box-shadow 0.2s ease, border 0.2s ease;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}
div.seat.active {
  color: #be78e8;
  border: 5px solid #be78e8;
  box-shadow: 0 0 5px 0 #be78e8;
}
div.seat p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
div.board_wrap {
  margin: 10px 48px;
}
div.board_wrap .card {
  float: left;
  margin-right: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.card {
  background-image: url("/images/deck.png");
  background-size: 1040px auto;
  border-radius: 8px 8px 0 0;
  height: 100%;
  box-shadow: 0 0 3px 0 #808080;
  overflow: hidden;
  width: 72px;
  height: 107px;
  /**
	 * CSS Sprites
	 */
}
.card.card-As {
  background-position: -2px -2px;
}
.card.card-Ah {
  background-position: -2px -338px;
}
.card.card-Ad {
  background-position: -2px -226px;
}
.card.card-Ac {
  background-position: -2px -113px;
}
.card.card-Ks {
  background-position: -76px -2px;
}
.card.card-Kh {
  background-position: -76px -338px;
}
.card.card-Kd {
  background-position: -76px -226px;
}
.card.card-Kc {
  background-position: -76px -113px;
}
.card.card-Qs {
  background-position: -150px -2px;
}
.card.card-Qh {
  background-position: -150px -338px;
}
.card.card-Qd {
  background-position: -150px -226px;
}
.card.card-Qc {
  background-position: -150px -113px;
}
.card.card-Js {
  background-position: -224px -2px;
}
.card.card-Jh {
  background-position: -224px -338px;
}
.card.card-Jd {
  background-position: -224px -226px;
}
.card.card-Jc {
  background-position: -224px -113px;
}
.card.card-Ts {
  background-position: -298px -2px;
}
.card.card-Th {
  background-position: -298px -338px;
}
.card.card-Td {
  background-position: -298px -226px;
}
.card.card-Tc {
  background-position: -298px -113px;
}
.card.card-9s {
  background-position: -372px -2px;
}
.card.card-9h {
  background-position: -372px -338px;
}
.card.card-9d {
  background-position: -372px -226px;
}
.card.card-9c {
  background-position: -372px -113px;
}
.card.card-8s {
  background-position: -447px -2px;
}
.card.card-8h {
  background-position: -447px -338px;
}
.card.card-8d {
  background-position: -447px -226px;
}
.card.card-8c {
  background-position: -447px -113px;
}
.card.card-7s {
  background-position: -521px -2px;
}
.card.card-7h {
  background-position: -521px -338px;
}
.card.card-7d {
  background-position: -521px -226px;
}
.card.card-7c {
  background-position: -521px -113px;
}
.card.card-6s {
  background-position: -595px -2px;
}
.card.card-6h {
  background-position: -595px -338px;
}
.card.card-6d {
  background-position: -595px -226px;
}
.card.card-6c {
  background-position: -595px -113px;
}
.card.card-5s {
  background-position: -670px -3px;
}
.card.card-5h {
  background-position: -670px -338px;
}
.card.card-5d {
  background-position: -670px -226px;
}
.card.card-5c {
  background-position: -670px -113px;
}
.card.card-4s {
  background-position: -744px -3px;
}
.card.card-4h {
  background-position: -744px -338px;
}
.card.card-4d {
  background-position: -744px -226px;
}
.card.card-4c {
  background-position: -744px -113px;
}
.card.card-3s {
  background-position: -818px -2px;
}
.card.card-3h {
  background-position: -818px -338px;
}
.card.card-3d {
  background-position: -818px -226px;
}
.card.card-3c {
  background-position: -819px -113px;
}
.card.card-2s {
  background-position: -892px -2px;
}
.card.card-2h {
  background-position: -892px -338px;
}
.card.card-2d {
  background-position: -892px -226px;
}
.card.card-2c {
  background-position: -894px -113px;
}
.card.card-back {
  background-position: -967px -113px;
}
#dealer_wrap_0 {
  top: 100px;
  left: 140px;
}
#dealer_wrap_1 {
  top: 100px;
  left: 10px;
}
#dealer_wrap_2 {
  top: 100px;
  left: 130px;
}
#dealer_wrap_3 {
  top: 100px;
  left: 0px;
}
#dealer_wrap_4 {
  top: 70px;
  left: -30px;
}
#dealer_wrap_5 {
  top: -30px;
  left: 0px;
}
#dealer_wrap_6 {
  top: -30px;
  left: 0px;
}
#dealer_wrap_7 {
  top: -30px;
  left: 140px;
}
#dealer_wrap_8 {
  top: -30px;
  left: 140px;
}
#dealer_wrap_9 {
  top: 60px;
  left: 170px;
}
.dealer_button {
  position: absolute;
  border: 2px solid #9880e9;
  border-radius: 20px;
  height: 20px;
  text-align: center;
  width: 20px;
  background-color: rgba(46, 31, 62, 0.9);
  line-height: 1.25;
  box-shadow: 0 3px 0 0 #604FAD;
}
#bets_0 {
  top: 80px;
  left: 120px;
}
#bets_1 {
  top: 100px;
  left: 0px;
}
#bets_2 {
  top: 100px;
  left: 0px;
}
#bets_3 {
  top: 80px;
  left: -120px;
}
#bets_4 {
  top: 25px;
  left: -120px;
}
#bets_5 {
  top: -30px;
  left: -120px;
}
#bets_6 {
  top: -60px;
  left: -80px;
}
#bets_7 {
  top: -60px;
  left: 80px;
}
#bets_8 {
  top: -30px;
  left: 120px;
}
#bets_9 {
  top: 25px;
  left: 120px;
}
.bets {
  position: absolute;
  text-align: center;
  width: 160px;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#pot {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#to_lobby {
  font-size: 1em;
  position: absolute;
  top: 2%;
  left: 2%;
}
#modal_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#modal_wrap #modal {
  padding: 32px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  top: 200px;
  width: 424px;
  z-index: 3;
}
#modal_wrap #modal label {
  font-size: large;
}
#modal_wrap #modal .input_left {
  margin-right: 32px;
}
#modal_wrap #curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
