body {
  margin: 0;
  background: #2E1F3E;
  font-family: Arial;
  color: #9880e9;
  font-size: 1em;
}
input[type="text"],
input[type="number"] {
  padding: 8px;
  width: 228px;
  border: 1px solid #9880e9;
  border-radius: 5px;
  color: #9880e9;
  font-size: 1.4em;
}
button,
input[type="submit"],
.button {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #9880e9;
  border-radius: 5px;
  color: #9880e9;
  font-size: 2em;
  font-weight: lighter;
}
button.small,
input[type="submit"].small,
.button.small {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
a {
  text-decoration: none;
  font-family: Arial;
  color: #9880e9;
  font-size: 1em;
}
.hidden {
  display: none;
}
.error {
  color: #D64937;
}
#content {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
}
table,
tr,
th,
td {
  border: 1px solid #9880e9;
  color: #9880e9;
  border-collapse: collapse;
  padding: 8px;
}
table {
  width: 100%;
}
#table_wrap {
  background-image: url('/images/bg.png');
}
div.row {
  height: 25%;
  width: 100%;
}
div.row.controls {
  background-color: #387C41;
  border-radius: 8px;
}
div.cell {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
div.cell button {
  margin: 17%;
}
div.double_cell {
  float: left;
  width: 50%;
  height: 100%;
}
div.player_wrap {
  padding: 16px;
  background-color: rgba(46, 31, 62, 0.9);
  border: 1px solid #9880e9;
  border-radius: 5px;
  color: #9880e9;
  font-size: 1.4em;
  font-weight: lighter;
  text-align: center;
  width: 128px;
  margin: 60px auto;
  position: relative;
}
div.player_wrap.top {
  margin-top: 100px;
}
div.player_wrap.bottom {
  margin-top: 20px;
}
div.player_wrap.left {
  margin-left: 80px;
}
div.player_wrap.right {
  margin-left: 20px;
}
div.player_wrap.active {
  color: #be78e8;
  border: 5px solid #be78e8;
}
div.player_wrap p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
div.player_wrap .cards {
  height: 60px;
  left: 30px;
  position: absolute;
  top: -61px;
  width: 100px;
  display: none;
}
div.player_wrap .cards .card:first-child {
  left: 0;
}
div.player_wrap .cards .card {
  background-image: url("/images/deck.png");
  background-size: 1040px auto;
  border-radius: 8px 8px 0 0;
  height: 100%;
  left: 28px;
  overflow: hidden;
  position: absolute;
  width: 71px;
  /**
		     * CSS Sprites
		     */
}
div.player_wrap .cards .card.card-as {
  background-position: -2px -2px;
}
div.player_wrap .cards .card.card-ah {
  background-position: -2px -337px;
}
div.player_wrap .cards .card.card-ad {
  background-position: -2px -226px;
}
div.player_wrap .cards .card.card-ac {
  background-position: -2px -112px;
}
div.player_wrap .cards .card.card-ks {
  background-position: -76px -2px;
}
div.player_wrap .cards .card.card-kh {
  background-position: -76px -337px;
}
div.player_wrap .cards .card.card-kd {
  background-position: -76px -226px;
}
div.player_wrap .cards .card.card-kc {
  background-position: -76px -112px;
}
div.player_wrap .cards .card.card-qs {
  background-position: -150px -2px;
}
div.player_wrap .cards .card.card-qh {
  background-position: -150px -337px;
}
div.player_wrap .cards .card.card-qd {
  background-position: -150px -226px;
}
div.player_wrap .cards .card.card-qc {
  background-position: -150px -112px;
}
div.player_wrap .cards .card.card-js {
  background-position: -224px -2px;
}
div.player_wrap .cards .card.card-jh {
  background-position: -224px -337px;
}
div.player_wrap .cards .card.card-jd {
  background-position: -224px -226px;
}
div.player_wrap .cards .card.card-jc {
  background-position: -224px -112px;
}
div.player_wrap .cards .card.card-ts {
  background-position: -298px -2px;
}
div.player_wrap .cards .card.card-th {
  background-position: -298px -337px;
}
div.player_wrap .cards .card.card-td {
  background-position: -298px -226px;
}
div.player_wrap .cards .card.card-tc {
  background-position: -298px -112px;
}
div.player_wrap .cards .card.card-9s {
  background-position: -372px -2px;
}
div.player_wrap .cards .card.card-9h {
  background-position: -372px -337px;
}
div.player_wrap .cards .card.card-9d {
  background-position: -372px -226px;
}
div.player_wrap .cards .card.card-9c {
  background-position: -372px -112px;
}
div.player_wrap .cards .card.card-8s {
  background-position: -447px -2px;
}
div.player_wrap .cards .card.card-8h {
  background-position: -447px -337px;
}
div.player_wrap .cards .card.card-8d {
  background-position: -447px -226px;
}
div.player_wrap .cards .card.card-8c {
  background-position: -447px -112px;
}
div.player_wrap .cards .card.card-7s {
  background-position: -521px -2px;
}
div.player_wrap .cards .card.card-7h {
  background-position: -521px -337px;
}
div.player_wrap .cards .card.card-7d {
  background-position: -521px -226px;
}
div.player_wrap .cards .card.card-7c {
  background-position: -521px -112px;
}
div.player_wrap .cards .card.card-6s {
  background-position: -595px -2px;
}
div.player_wrap .cards .card.card-6h {
  background-position: -595px -337px;
}
div.player_wrap .cards .card.card-6d {
  background-position: -595px -226px;
}
div.player_wrap .cards .card.card-6c {
  background-position: -595px -112px;
}
div.player_wrap .cards .card.card-5s {
  background-position: -670px -3px;
}
div.player_wrap .cards .card.card-5h {
  background-position: -670px -337px;
}
div.player_wrap .cards .card.card-5d {
  background-position: -670px -226px;
}
div.player_wrap .cards .card.card-5c {
  background-position: -670px -112px;
}
div.player_wrap .cards .card.card-4s {
  background-position: -744px -3px;
}
div.player_wrap .cards .card.card-4h {
  background-position: -744px -337px;
}
div.player_wrap .cards .card.card-4d {
  background-position: -744px -226px;
}
div.player_wrap .cards .card.card-4c {
  background-position: -744px -112px;
}
div.player_wrap .cards .card.card-3s {
  background-position: -818px -2px;
}
div.player_wrap .cards .card.card-3h {
  background-position: -818px -337px;
}
div.player_wrap .cards .card.card-3d {
  background-position: -818px -226px;
}
div.player_wrap .cards .card.card-3c {
  background-position: -818px -112px;
}
div.player_wrap .cards .card.card-2s {
  background-position: -892px -2px;
}
div.player_wrap .cards .card.card-2h {
  background-position: -892px -337px;
}
div.player_wrap .cards .card.card-2d {
  background-position: -892px -226px;
}
div.player_wrap .cards .card.card-2c {
  background-position: -892px -112px;
}
div.player_wrap .cards .card.card-back {
  background-position: -967px -112px;
}
div.dealer_wrap {
  position: absolute;
}
div.dealer_wrap#dealer_wrap_0 {
  top: 190px;
  left: 210px;
}
div.dealer_wrap#dealer_wrap_1 {
  top: 150px;
  left: 50px;
}
div.dealer_wrap#dealer_wrap_2 {
  top: 150px;
  left: 180px;
}
div.dealer_wrap#dealer_wrap_3 {
  top: 190px;
  left: 20px;
}
div.dealer_wrap#dealer_wrap_4 {
  top: 150px;
  left: 50px;
}
div.dealer_wrap#dealer_wrap_5 {
  top: 20px;
  left: -10px;
}
div.dealer_wrap#dealer_wrap_6 {
  top: 30px;
  left: 50px;
}
div.dealer_wrap#dealer_wrap_7 {
  top: 30px;
  left: 180px;
}
div.dealer_wrap#dealer_wrap_8 {
  top: 20px;
  left: 250px;
}
div.dealer_wrap#dealer_wrap_9 {
  top: 150px;
  left: 180px;
}
div.dealer_wrap .dealer_button {
  border: 1px solid #9880e9;
  border-radius: 20px;
  height: 20px;
  text-align: center;
  width: 20px;
  background-color: rgba(46, 31, 62, 0.9);
}
#to_lobby {
  font-size: 1em;
  position: absolute;
  top: 2%;
  left: 2%;
}
#modal_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#modal_wrap #modal {
  padding: 32px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  top: 200px;
  width: 424px;
  z-index: 2;
}
#modal_wrap #modal label {
  font-size: large;
}
#modal_wrap #modal .input_left {
  margin-right: 32px;
}
#modal_wrap #curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
