@light_purple: #9880e9;
@transparent_purple: rgba(46,31,62,0.9);
@lavender: #BE78E8;

body {
	margin: 0;
	background: #2E1F3E;
	font-family: Arial;
	color: @light_purple;
	font-size: 1em;
}

input[type="text"], input[type="number"] {
	padding: 8px;
	width: 228px;
	border: 1px solid @light_purple;
	border-radius: 5px;
	color: @light_purple;
	font-size: 1.4em;
}

button, input[type="submit"], .button {	
	padding: 16px;
	background-color: rgba(0,0,0,0);
	border: 1px solid @light_purple;
	border-radius: 5px;
	color: @light_purple;
	font-size: 2em;
	font-weight: lighter;
	&.small {
		font-size: 1em;
	}
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}

a {
	text-decoration: none;
	font-family: Arial;
	color: @light_purple;
	font-size: 1em;
}

.hidden {
	display: none;
}

.error {
	color: #D64937;
}

#content {
	margin: 0 auto;
	width: 1024px;
	height: 768px;
}

table, tr, th, td {
	border: 1px solid @light_purple;
	color: @light_purple;
	border-collapse: collapse;
	padding: 8px;
}

table {
	width: 100%;
}

#table_wrap {
	background-image: url('/images/bg.png');
}

div.row {
	height: 25%;
	width: 100%;
	&.controls {
		background-color: #387C41;
		border-radius: 8px;
	}
}

div.cell {
	float: left;
	width: 25%;
	height: 100%;
	position: relative;

	button {
		margin: 17%;
	}
}

div.double_cell {
	float: left;
	width: 50%;
	height: 100%;
}

div.controls {
	div.cell {
		width: 20%;
	}
	div.double_cell {
		width: 40%;
	}
}

div#chat {
	div#messages {
		border: 1px solid;
	    border-radius: 8px;
	    height: 63%;
	    margin: 8px 8px 0 8px;
	    background-color: #fff;
	    padding: 8px;
	    overflow: auto;

	    p {
	    	margin: 0;
	    	word-wrap: break-word;
	    }
	}
	input[type="submit"] {
		font-size: 1.3em;
		padding: 5px;
		margin-top: 1px;
	    background-color: rgba(46, 31, 62, 0.9);
	    border-radius: 8px;
	}
	input[type="text"] {
		width: 330px;
		font-size: 1.3em;
		margin-left: 8px;
		padding: 5px;
		border-radius: 8px;
	}
}

div.player_wrap {
	padding: 16px;
	background-color: @transparent_purple;
	border: 1px solid @light_purple;
	border-radius: 5px;
	color: @light_purple;
	font-size: 1.4em;
	font-weight: lighter;
	text-align: center;
	width: 128px;
	margin: 60px auto;
	position: relative;
	&.top {
		margin-top: 100px;
	}
	&.bottom {
		margin-top: 20px;
	}
	&.left {
		margin-left: 80px;
	}
	&.right {
		margin-left: 20px;
	}
	&.active {
		color: @lavender;
		border: 5px solid @lavender;
	}
	p {
		text-overflow: ellipsis;
		overflow: hidden;
		margin: 0;
	}
	.player_cards {
		overflow: hidden;
	    height: 60px;
	    left: 30px;
	    position: absolute;
	    top: -61px;
	    width: 100px;
	    .card:first-child {
	    	left: 0;
	    }
	    .card {
		    left: 28px;
		    position: absolute;
	    }
	}
}

div.board_wrap {
	margin: 10px 48px;
	.card {
		float: left;
		margin-right: 10px;
	}
}

.card {
	background-image: url("/images/deck.png");
    background-size: 1040px auto;
    border-radius: 8px 8px 0 0;
    height: 100%;
    overflow: hidden;
    width: 73px;
    height: 109px;
    /**
	 * CSS Sprites
	 */
	&.card-As {
		background-position: -2px -2px;
	}
	&.card-Ah {
		background-position: -2px -338px;
	}
	&.card-Ad {
		background-position: -2px -226px;
	}
	&.card-Ac {
		background-position: -2px -113px;
	}
	&.card-Ks {
		background-position: -76px -2px;
	}
	&.card-Kh {
		background-position: -76px -338px;
	}
	&.card-Kd {
		background-position: -76px -226px;
	}
	&.card-Kc {
		background-position: -76px -113px;
	}
	&.card-Qs {
		background-position: -150px -2px;
	}
	&.card-Qh {
		background-position: -150px -338px;
	}
	&.card-Qd {
		background-position: -150px -226px;
	}
	&.card-Qc {
		background-position: -150px -113px;
	}
	&.card-Js {
		background-position: -224px -2px;
	}
	&.card-Jh {
		background-position: -224px -338px;
	}
	&.card-Jd {
		background-position: -224px -226px;
	}
	&.card-Jc {
		background-position: -224px -113px;
	}
	&.card-Ts {
		background-position: -298px -2px;
	}
	&.card-Th {
		background-position: -298px -338px;
	}
	&.card-Td {
		background-position: -298px -226px;
	}
	&.card-Tc {
		background-position: -298px -113px;
	}
	&.card-9s {
		background-position: -372px -2px;
	}
	&.card-9h {
		background-position: -372px -338px;
	}
	&.card-9d {
		background-position: -372px -226px;
	}
	&.card-9c {
		background-position: -372px -113px;
	}
	&.card-8s {
		background-position: -447px -2px;
	}
	&.card-8h {
		background-position: -447px -338px;
	}
	&.card-8d {
		background-position: -447px -226px;
	}
	&.card-8c {
		background-position: -447px -113px;
	}
	&.card-7s {
		background-position: -521px -2px;
	}
	&.card-7h {
		background-position: -521px -338px;
	}
	&.card-7d {
		background-position: -521px -226px;
	}
	&.card-7c {
		background-position: -521px -113px;
	}
	&.card-6s {
		background-position: -595px -2px;
	}
	&.card-6h {
		background-position: -595px -338px;
	}
	&.card-6d {
		background-position: -595px -226px;
	}
	&.card-6c {
		background-position: -595px -113px;
	}
	&.card-5s {
		background-position: -670px -3px;
	}
	&.card-5h {
		background-position: -670px -338px;
	}
	&.card-5d {
		background-position: -670px -226px;
	}
	&.card-5c {
		background-position: -670px -113px;
	}
	&.card-4s {
		background-position: -744px -3px;
	}
	&.card-4h {
		background-position: -744px -338px;
	}
	&.card-4d {
		background-position: -744px -226px;
	}
	&.card-4c {
		background-position: -746px -113px;
	}
	&.card-3s {
		background-position: -818px -2px;
	}
	&.card-3h {
		background-position: -818px -338px;
	}
	&.card-3d {
		background-position: -818px -226px;
	}
	&.card-3c {
		background-position: -819px -113px;
	}
	&.card-2s {
		background-position: -892px -2px;
	}
	&.card-2h {
		background-position: -892px -338px;
	}
	&.card-2d {
		background-position: -892px -226px;
	}
	&.card-2c {
		background-position: -894px -113px;
	}
	&.card-back {
		background-position: -967px -113px;
	}
}


div.dealer_wrap {
	position: absolute;
	&#dealer_wrap_0 {
		top: 190px;
		left: 210px;
	}
	&#dealer_wrap_1 {
		top: 150px;
		left: 50px;
	}
	&#dealer_wrap_2 {
		top: 150px;
		left: 180px;
	}
	&#dealer_wrap_3 {
		top: 190px;
		left: 20px;
	}
	&#dealer_wrap_4 {
		top: 150px;
		left: 50px;
	}
	&#dealer_wrap_5 {
		top: 20px;
		left: -10px;
	}
	&#dealer_wrap_6 {
		top: 30px;
		left: 50px;
	}
	&#dealer_wrap_7 {
		top: 30px;
		left: 180px;
	}
	&#dealer_wrap_8 {
		top: 20px;
		left: 250px;
	}
	&#dealer_wrap_9 {
		top: 150px;
		left: 180px;
	}

	.dealer_button {
		border: 1px solid @light_purple;
		border-radius: 20px;
	    height: 20px;
	    text-align: center;
	    width: 20px;
	    background-color: @transparent_purple;
	}
}

#to_lobby {
	font-size: 1em;
	position: absolute;
	top: 2%;
	left: 2%;
}

#modal_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	#modal {
		padding: 32px;
		background-color: #fff;
		border-radius: 5px;
		position: relative;
		margin: 0 auto;
		top: 200px;
		width: 424px;
		z-index: 2;
		label {
			font-size: large;
		}
		.input_left {
			margin-right: 32px;
		}
	}
	#curtain {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
}
