<div id="lobby">
	<strong class=“red”>
		<p>Welcome to Barstool Poker. Face coverings are required at all times.</p>
	</strong>

	</br>
	</br>
 	</br>
	<strong style="color:red;">
		<p>This is dev environment</br>
		currently the 52-card-deck is messed up intentionally to entice entertainment</p>
	</strong>

	</br>
	</br>
 	</br>
	<strong class=“red”>
		<p>Live dealer potential solution:</br>
		maybe embed youtube's live streaming and use some AI to auto detect poker cards?</p>
	</strong>
	<div class="modal-wrap" ng-show="!$root.screenName">
		<div class="modal">
			<form ng-submit="register()">
				<label for="screen-name-input">Enter your PENN or PI's email name, e.g. it would be sylvester.stallone if your PENN email is sylvester.stallone@pngaming.com</label>
				<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
				<input id="screen-name-input" class="input-left" type="text" ng-model="newScreenName" ng-trim="true" required>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div id="curtain" ng-show="!$root.screenName"></div>
	</div>
	<table id="table-list">
		<tr>
			<th class="dark-border">Name</th>
			<th class="dark-border">BB/SB</th>
			<th>Players</th>
		</tr>
		<tr ng-repeat="table in lobbyTables">
			<td><a href="/table-{{table.seatsCount}}/{{table.id}}">{{table.name}}</a></td>
			<td class="centered-text">{{table.bigBlind}}/{{table.smallBlind}}</td>
			<td class="centered-text">{{table.playersSeatedCount}}/{{table.seatsCount}}</td>
		</tr>
	</table>
</div>			
<br>
<br>
<br>
<br>
<p id="developer-info">
	Base web framework developed by George Balasis.<br>
	Additional features and customization developed by Poker team from PI's 2021 hachathon.<br>
	Check out new features like side betting, insurance and maybe live dealer on <a href="http://dev.barstool-poker.com/" target="_blank">dev site</a>.<br>
</p>
